<ion-content >
  <!-- title -->
  <div id= "Friendstitle"> 
    <img id = "titleicon" src = "../../assets/icon/Vector (2).png">
    <h1 id = "title">Friends</h1>
  </div>
  <!-- Friendslist -->
  <div id= "Friends">
    <p id = "friend">
      <img class= "icon" src = "../../assets/icon/Group (2).png">
      Nery Guitron
      <img class= "rightarrow" src = "../../assets/icon/25_dropdown_menu_down_arrow-512 6.png">
    </p>
  </div>
  <div id= "Friends">
    <p id = "friend">
      <img class= "icon" src = "../../assets/icon/Group (2).png">
      Ricardo Martinez
      <img class= "rightarrow" src = "../../assets/icon/25_dropdown_menu_down_arrow-512 6.png">
    </p>
  </div>
  <div id= "Friends">
    <p id = "friend">
      <img class= "icon" src = "../../assets/icon/Group (2).png">
      Jesus Estrada
      <img class= "rightarrow" src = "../../assets/icon/25_dropdown_menu_down_arrow-512 6.png">
    </p>
  </div>




</ion-content>

