<ion-content>
  <ion-header>
      <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" placeholder="Search"  (ionClear)="ClearAutocomplete()"></ion-searchbar>
    <ion-list [hidden]="autocompleteItems.length == 0">
      <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
        {{ item.description }}
      </ion-item>
    </ion-list>
  </ion-header>
    <div class="map-wrapper" style="height: 100%;">      
      <div #map id="map"  style="height: 100%;"></div>
    </div>   
   
<div id= "popup" >
<lib-ionic-pullup (onExpand)="footerExpanded()" (onCollapse)="footerCollapsed()" [(state)]="footerState" [toolbarTopMargin]="100" [minBottomVisible]="200">

  <ion-toolbar color="light" (click)="toggleFooter()" #ionDragFooter>
      <ion-title>  <hr id="line" color="darkgoldenrod" width=75% margin-left=25%>
      </ion-title>
  </ion-toolbar>
  <ion-content>        
    <h1 id= "location">Hugh National Park</h1>
    <h2 id="address"> <img height=25px width =25px src="../../assets/icon/Group (3).png">
      3577 Saint Jone ave.</h2>
    <body>
      <div class = "game">
        <p id="title"><img class = "accounticon" src="../../assets/icon/Group (2).png">Soccer Match - Hosted by:Julio Cortez <button routerLink="/home"><img class="arrow" height=10px width =10px src="../../assets/icon/Group (4).png"> </button></p>
        <p class = "status">Currently Playing</p>
      </div>
      <div class = "game">
        <p id="title"><img class = "accounticon" src="../../assets/icon/Group (2).png">Soccer Match - Hosted by:Sam Glizen  <button routerLink="/home"><img class="arrow" height=10px width =10px src="../../assets/icon/Group (4).png"> </button> </p>
        <p class = "status">Reserverd for 2:30</p>
      </div>
      <div id="Createbutton" routerLink="/host"> Create Game</div>
    </body>
  </ion-content>
  </lib-ionic-pullup>
  </div>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="Top"
  ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on bottom">
Popover on bottom
</button>

</ion-content>
