<ion-content [fullscreen]="true">
  <ion-navbar>
    <ion-title class="titles">
      Host
    </ion-title>
  </ion-navbar>

  <h1 class="questions">Match title
    <ion-input placeholder="Match details"></ion-input>
  </h1>
  <h1 class="questions">Match title
    <ion-input placeholder="Match details"></ion-input>
  </h1>
  <h1 class="questions">Match title
    <ion-input placeholder="Match details"></ion-input>
  </h1>
  <h1 class="questions">Match title
    <ion-input placeholder="Match details"></ion-input>
  </h1>



</ion-content>
