<ion-content >
  <div>
   <ion-button routerLink="/tabs/tab1" size ="small" id="backbutton">
      <ion-icon name="arrow-undo-circle-outline"></ion-icon>  
    </ion-button>  
      <img  id= "park" src = "../../assets/icon/soccerfield.png">
  </div> 
  <h1 id= "location">Hugh National Park</h1>
  <h2 id="address"> <img height=20 width =20 src="../../assets/icon/Soccer Pin.png">
    3577 Saint Jone ave.</h2>
  <hr id="line" color="darkgoldenrod" width=75% margin-left=25%>
  <span id= "subtitle">
    <p id= "sport"> <img height=15 width =15 src="../../assets/icon/Vector (7).png">
    Soccer
    </p>
  <p id= "time">20 April 5:00pm </p>
  </span>
   <div id= "leftcontainer">
      <h1 id ="hostheader"> Host </h1>
      <body id= "host">
        <p>
          <img src="../../assets/icon/Group (2).png" class = "icon">Julio Cortez
        </p>
      </body>
    </div>
        <!-- List of players  -->
    <div  id ="rightcontainer">
      <h1 id="playerheader"> Players</h1>
      <body id= "player">
        <p>
         <img src="../../assets/icon/Group (2).png" class = "icon">Nery Richerson
        </p>
        <p>
          <img src="../../assets/icon/Group (2).png" class = "icon">Philip J. Fry
        </p>
        <p>
         <img src="../../assets/icon/Group (2).png" class = "icon">Rick James
        </p>
    </body>
    </div>
    <div id="Joinbutton" routerLink="/tabs/tab1"> Join</div>
    
  



</ion-content>